/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 * @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
 * imported Font Family from Google's API
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 * Pseudoclasses........Events for wrapper elements
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Webkit Scrollbar.....Y-axis scrollbar
 *
 * JAVASCRIPT
 * Dynamic classes......Classes added/modified through JS
 *
 * ANIMATED CARDS
 * Card components......Animating and styling GitHub cards
 *
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;            
}


/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    transition: .3s ease;
    overflow-x: hidden;    
}


/*------------------------------------*\
  #BASE
\*------------------------------------*/

.section-two-h1 {
    color: #c0c0c0;    
    padding-left: 10px;
}

.section-two-h1-light {
    color: #0F2C59;
}

.card-h1-container h1:hover { color: #AA0000; }
.nav-h2:hover               { color: #AA0000; }
.nav-h2-light:hover         { color: #ff8a00; }


.nav-header h2 {
    cursor: pointer;
    color: #c0c0c0;
    transition: all 0.3s ease 0s; 
}



.section-two-h2 {
    color:#AA0000;
    padding-left: 10px;
}

.section-two-h2-light {
    color:#ff8a00;
}

.card-h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: #c0c0c0;
    border: 0;
    display: inline-block;
    cursor: pointer;    
}

.card-h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-h2-light {
    color: #0F2C59;
}


/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;    
}

.notepad-container {     
    width: 80%;
    height: 75%;
    margin-bottom: 60px;
}

.time-container {
    margin-left: 20px;
}

section {
    height: 100vh;
    scroll-snap-align: start;    
}

.svg-dark        { fill: #c0c0c0;  }

.svg-dark:hover  { fill: #6c6b6b;  }

.svg-light       { fill: #0F2C59;  }

.svg-light:hover { fill:#fda53f;   }

/**
* Defining the tooltip container for the first section button 
*/
.tooltip-container-button {
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #333;
    color: #c0c0c0;
    padding: 5px 10px;
    width: 50vh;
    border-radius: 10px 10px 0px 0px;
    opacity: 0;
    transition: opacity 0.5s;
}

/** 
* Defining the tooltip container for the last button 
*/
.tooltip-container-button-last {      
    position: absolute;
    top: -30px;
    right: 0;
    background-color: #333;
    color: #c0c0c0;
    padding: 5px 10px;    
    width: 50vh;
    border-radius: 10px 10px 0px 0px;
    opacity: 0;
    transition: opacity 0.5s; /* Set the transition property */
}

.main-container-2 {
    width: 95%;
    max-width: 95%;    
    height: 90vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.main-container-2-img {
    height: 420px;
    width: auto;
    max-width: 70%;
    border-radius: 10px;
    transition: 0.3s ease;
}

.main-container-2-img:hover {
    height: 430px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.main-container-2-img-light {
    box-shadow: 0px 5px 5px 5px rgba(121, 121, 121, 0.5);
}

.main-container-2-img-light:hover {
    box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.arrow-up-container {
    position: absolute;    
    top: 90%;
    left: 95%;    
}

.arrow-up-container-three {
    position: absolute;
    top: 88%;
    left: 95%;
}

.card-h1-container {
    width: 90%;
    display: flex;
    justify-content: center;    
}

.card-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

.textarea-section {
    margin: 0px;
    padding: 0;
}

.notepad-area {    
    color: azure;
    margin: 0;
    padding: 0;    
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px none;
    border-radius: 0px;
    overflow: auto;    
    transition: outline-color 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
}

.section-two {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.section-two-content {
    width: 550px;    
    background-color: #1A1A1A;
    border-radius: 30px;
    padding: 10px;
    transition: .3s ease;
}

.section-two-content-light {
    background: #DAC0A3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.section-two-content:hover {    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}

.section-two-paragraph {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: bold;    
    margin-top: 10px;
    text-align: justify;
    padding: 10px;
    background-color: #1A1A1A;
    border-radius: 30px;    
}

.section-two-paragraph-light { 
    background-color: #DAC0A3;
    color: #0F2C59;
}

.section-three {
    position: relative;
    display: flex;    
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 3rem;
}

.notepad-area:focus {
    outline: none;
    background-color: #333333;
    color: azure;
}

.notepad-area.light-mode:focus {
    background-color: #DAC0A3;
    color: azure;
}

.span-h2        { color: #c0c0c0; }
.span-h2-light  { color: #0F2C59; }
span            { color: azure;   }
.vimer          { color: #AA0000; }
.vimer-light    { color:#ff8a00;  }

/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/**
* Tracking header
*/
.nav-header {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto -16px;
    padding: 8px 32px;    
    background-color: #000000;
    z-index: 100;     
}

.nav-header-light {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto -16px;
    padding: 8px 32px;    
    background-color: #42413f;    
    z-index: 100;     
}

/**
* Styling the logo 
*/
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    height: 50px;
    width: 50px;
    margin-right: 20px;    
}

/**
* Navigation pane modifications listed below
*/
.nav-links {
    list-style: none;  
    display: flex;
    justify-content: center;
    flex-direction: row;  
}

.nav-links li { padding: 10px 25px; }

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease 0s;
    color:#c0c0c0;
}

.nav-links li button {    
    text-decoration: none;
    border: none;    
}

.nav-links-a:hover {
    transition: all 0.3s ease 0s;
    color: #AA0000;
}

.nav-links-a-light:hover{
    transition: all 0.3s ease 0s;
    color: #ff8a00;
}

.time {
    color: #c0c0c0;
    font-family: Poppins;
    cursor: pointer;
    transition: .2s ease;
}

.time:hover       { color:#AA0000; }
.time-light:hover { color:#ff8a00  }

.disable { display: none; }

/**
* Tracking footer
*/
.footer-container {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.footer-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.social-icons-container li{
    list-style: none;
    padding: 10px 20px;
}

.social-svg {
    width: 30px;
    height: 30px;
    transition: .2s ease;
}

/**
* BUTTONS
*/
.go-up-button {        
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #c0c0c0;
    background: none;
    cursor: pointer;
    transition: .2s ease;    
}

.go-up-button:hover {
    background-color: #333;
    border: none;
}

.go-up-button-light {
    border: 2px solid #0F2C59;
}

.go-up-button-light:hover {
    border: 2px solid #0F2C59;
    background: none;
}

/** 
* Tracking Night/Light mode Changes
*/
.nightmode-button {
    background-color: black;
    margin-top: 3px;
    width: 17px;
    height: 17px;    
}

.nightmode-button-svg {
    margin-top: 3px;
    width: 17px;
    height: 17px;
    transition: all 0.3s ease 0s;
}

.lightmode-button-svg {
    margin-top: 3px;
    width: 17px;
    height: 17px;
    transition: all .3s ease 0s;
    fill: #c0c0c0;
}

.lightmode-button { background-color: #42413f; }

.nightmode-button-svg:hover {
    fill: #AA0000;
    cursor: pointer;
}

.lightmode-button-svg:hover {
    fill: bisque;
    cursor: pointer;
}

.button-row {
    display: flex;  
    width: 100%;  
}

.button-dark-mode {
    flex-grow: 1;
    padding: 15px 15px;   
    text-align: center;
    background-color: #42413f;
    transition: all 0.3s ease 0s;    
    border: none;   
}

.button-light-mode {    
    background-color: #EADBC8;
    flex-grow: 1;
    padding: 15px 15px;   
    text-align: center;    
    transition: all 0.3s ease 0s;
    border: none;
}


/**
* Extracting the first and the last button in the button row 
*/
.first-button-in-sequence {
    border-radius: 15px 0px 0px 0px;
    position: relative;      
}

.last-button-in-sequence {
    border-radius: 0px 15px 0px 0px;
    position: relative;
}
/**
* Extracting the first and the last button in the button row 
*/

.first-button-in-sequence:hover .tooltip-container-button {
    display: block;    
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    transition-delay: 1s;
}

.first-button-in-sequence:hover {
    border-radius: 0px;
}

.last-button-in-sequence:hover .tooltip-container-button-last {
    display: block;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    transition-delay: 1s;  
}

.last-button-in-sequence:hover {
    border-radius: 0px;
}

/* Defining the properties for the rest of the buttons */
.button-row button:nth-child(n+2):nth-child(-n+18) {
    position: relative;   
}

.button-row button:nth-child(n+2):nth-child(-n+18):hover .tooltip-container-button {
    display: block;
    border-radius: 10px 10px 0px 0px; 
    opacity: 1;
    transition-delay: 1s;
}

.button-row button:nth-child(n+2):nth-child(-n+18):hover .tooltip-container-button-last {
    display: block;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
    transition-delay: 1s;
}

.button-dark-mode:hover{
    transition: all 0.3s ease 0s;
    background-color: #AA0000;
    cursor: pointer;
}

.button-dark-mode.button-light-mode:hover {
    transition: all 0.3s ease 0s;
    background-color: #ff8a00;
    cursor: pointer;
}

.check-vimer-button {
    display: inline-flex;
    align-items: center;    
    margin: 25px 0px 5px 10px;
    background: #42413f;    
    text-decoration: none;
    cursor: pointer;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;    
    transition: .3s ease;
}

.check-vimer-button:hover { background-color: #333; }

.check-vimer-button-light {
    background: none;
    color: #0F2C59;
    border: 2px solid transparent;
    border-color: #333;    
}

.check-vimer-button-light:hover {
    background-color: #ff8a00;
}

#color-picker {
    width: 1px;
    height: 1px;    
    background-color: #42413f;
    border: none;
    display: block;     
}

/**
* WEBKIT SCROLLBAR
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6c6b6b;
    border-radius: 6px;    
}

::-webkit-scrollbar.thumb:hover {
    background-color: #c0c0c0;
}

::-webkit-scrollbar-track {
    background-color: #1A1A1A;
}    

/*------------------------------------*\
  #JAVASCRIPT
\*------------------------------------*/

.active {
    background-color: #F8F0E5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f2e6d8' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23ecddcb' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23e6d3bd' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23e0cab0' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23DAC0A3' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.no-transition {
    transition: none !important; /* Disable CSS transitions */
    animation: none !important; /* Disable CSS animations */
    transform: none !important;
  }


.character-count {
    display: flex;
    justify-content: space-between;
    color: #c0c0c0;
    background-color: #42413f;
    border: 1px none;
    border-radius: 0 0 15px 15px;
}

.character-count-light { 
    background-color: #EADBC8;
    color: #0F2C59 
}

.character-count p              { padding: 0 10px;                   }

.character-count p:nth-child(1) { border-right: 1px solid #c0c0c0; }

.character-count p:nth-child(2) { border-right: 1px solid #c0c0c0; }

.ch-count-paragraphs {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.ch-count-paragraphs-light {
    color: #0F2C59;
}

.ch-count-button {
    margin: 5px 10px;
    transition: .2s ease;
}

.clear-btn {
    color: #c0c0c0;
    background-color: #42413f;
    border: none;
    font-size: 14px;
    cursor: pointer;    
}

.clear-btn-light {
    background-color: #EADBC8;
    color: #0F2C59;
}

.clear-btn-hover       { color: #AA0000; }

.clear-btn-svg         { fill: #AA0000;  }

.clear-btn-hover-light { color: #ff8a00; }

.clear-btn-svg-light   { fill: #ff8a00;  }

.dark-mode {
    background-color: #1A1A1A;         
    transition: outline-color 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
}

.light-mode {    
    /* background-color: #c9a17e; */
    background-color: #DAC0A3;
    width: 100%;
    height: 100%;
    resize: none;    
    border-radius: 0px;
    box-shadow: 5px 0 5px rgba(172, 170, 170, 0.5);  
    transition: outline-color 0.3s, box-shadow 0.3s, background-color 0.3s, border-color 0.3s;
}

.git-button-text {
    margin-right: 8px;
    color: #c0c0c0;  
}

.git-button-text-light {
    color:#0F2C59;
}

.git-icon {
    width: 25px;
    height: 25px;
}


/* Dynamically accessed classes */
.bolded {
    font-weight: bold;
    color: azure;
}

.italic {
    font-style: italic;
    color: azure;
}

.underlined {
    text-decoration: underline;
    color: azure;
}

.highlighted {
    text-decoration: underline;
    color: cadetblue;
    cursor: pointer;
}

.word-capitalize {
    text-transform: uppercase;
    color: azure;
}

.custom-unordered-list {
    margin-left: 25px;
}

.custom-ordered-list {
    margin-left: 25px;
    list-style: decimal;
}


/*------------------------------------*\
  #ANIMATED CARDS
\*------------------------------------*/

.card-h1-container {
    width: 90%;
    display: flex;
    justify-content: center;    
}

.card-h1 {
    color: #c0c0c0;    
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s ease;
}

.card-h1-light {
    /* color: #7b634e; */
    color: #0F2C59
}

.card-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #333333;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card-light { 
    background: #DAC0A3;
    box-shadow: -1rem 0 3rem #797979;
}

.card:focus-within~.card, .card:hover~.card { transform: translateX(130px); }
.card:hover                                 { transform: translateY(-1rem); }
.card:not(:first-child)                     { margin-left: -130px;          }
.card-header                                { margin-bottom: auto;          }

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #ff8a00;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.card-svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    display: block;
    overflow: hidden;
    margin: 16px 10px;
    fill: #c0c0c0;
}

.card-svg-light {
    fill:#0F2C59;
}


.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;    
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
    color: #ff8a00;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #c0c0c0;
}

.author-name-prefix-light { color:#0F2C59; }

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #AA0000;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.half-circle-light {
    stroke:#0F2C59;
}


/* THERE WILL BE MORE MODIFICATIONS DONE, TRANSFER THEM ABOVE */

/* Style the dropdown container*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;    
    position: absolute;
    background-color: #797979;
    top: 100%;
    left: 0;  
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;    
}

/* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 8px 5px;
    text-decoration: none;
    display: block;    
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #c0c0c0;    
}